/* thumb */
.fw-option-type-multi-upload.images-only .thumbs-container {
	font-size: 0;
	line-height: 0;
}
.fw-option-type-multi-upload.images-only .thumb {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 50px;
	margin-right: 5px;
	margin-bottom: 5px;
	text-align: center;
	cursor: move;
}
.fw-option-type-multi-upload.images-only .thumb:last-of-type {
	margin-right: 0;
}
.fw-option-type-multi-upload.images-only .thumb.no-image {
	cursor: default;
}

/* Non empty thumb */
.fw-option-type-multi-upload.images-only .thumb img {
	display: block;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.fw-option-type-multi-upload.images-only .thumb a {
	position: absolute;
	display: none;
	width: 12px;
	height: 12px;
	top: -6px;
	right: -6px;
	font-size: 14px;
	outline: none;
}
.fw-option-type-multi-upload.images-only .thumb:hover a {
	display: block;
	background-color: #fff;
	border-radius: 50%;
	z-index: 10;
}
.fw-option-type-multi-upload.images-only .thumb.ui-sortable-helper a {
	display: none;
}
.fw-option-type-multi-upload.images-only .thumb a:before {
	position: absolute;
	left: -1px;
	top: -3px;
}

/* Upload link */
.fw-option-type-multi-upload.images-only p {
	margin-bottom: 0;
}

/* Option is set in right sidebar */
.fw-force-xs .fw-option-type-multi-upload.images-only .thumb.no-image {
	display: none;
}

.fw-option-type-multi-upload.images-only .no-image-img {
	cursor: pointer;
}
